:root {
    --DRK-PRIMARY: #0d0d12;
    --DRK-SECONDARY: #171721;
    --DRK-TERIARY: #1f1f2b;
    --LGHT-PRIMARY: #f0f0f5;
    --LGHT-SECONDARY: #dadae9;
    --LGHT-TERIARY: #c2c2de;
    --ACCENT1: #d8e036;
    --ACCENT2: #003737; 
}