

.starDeco-container {
  position: absolute;
  bottom: 0vh;
  width: 150px;
  justify-content: center;
  align-items: center;
  height: 100vh;
  z-index: 0;
  right: 0.3em;
  background-image: url('../../assets/AYON_STAR_2.svg');
  background-repeat: repeat-y;
  background-size: auto;
}

