@import url('../../globalcss/globalStyles.css');

.side-tab-parent {
    display: flex;
    flex-direction: column;
    height: 20em;
    width: fit-content;
    background-color: var(--DRK-SECONDARY);
    border-radius: 30px;
    margin-left: calc(15px + 2vw);
    animation: fadeIn 1s forwards;
    text-align: start;
    justify-content: start;
    padding: 1em;
    background-image: url('../../assets/AYON_BCKGRD\ 2.svg');
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 80%;
}

.star {
    height: 1.2em;
    filter:drop-shadow(0px 0px 2px var(--ACCENT1));
    padding: 0.3em 0.9em;
    animation: rotate 5s infinite;
}

.side-tab-parent text {
    font-size: 0.7em;
    color: var(--LGHT-PRIMARY);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 900;
}

.text-span {
    justify-content: left;
    width: 100%;
    padding-bottom: 1em;
}

#pl {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 0.9em;
    font-weight: 800;
}

.side-tab-parent button { 
    margin: 0 1em 0 0em;
    height: 2em;
    width: 20em;
    font-size: 0.6em;
    font-weight: 700;
    border-radius: 30px;
    padding: 0.5em;
}
