@import url('../../globalcss/globalStyles.css');

.side-tab-parent {
    display: flex;
    flex-direction: column;
    height: 20em;
    width: fit-content;
    border-radius: 30px;
    margin-left: calc(5px + 1vw);
    margin-top: calc(-5px - 5vh);
    animation: fadeIn 1s forwards;
    text-align: start;
    justify-content: start;
    padding: 1em;
}

.star {
    height: 1.2em;
    filter:drop-shadow(0px 0px 2px var(--ACCENT1));
    padding: 0.3em 0.9em;
    animation: rotate 5s infinite;
}

.side-tab-parent text {
    font-size: 0.9em;
    color: var(--LGHT-PRIMARY);
    font-family: 'Playfair Display', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 900;
    font-style: italic;
}

.text-span {
    justify-content: left;
    width: 100%;
    padding-bottom: 1em;
}

#pl {
    font-family:'Playfair Display', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    font-size: 1.2em;
    font-weight: 800;
}

.side-tab-parent button { 
    margin: 0 1em 0 0em;
    height: 2em;
    width: 20em;
    font-size: 0.6em;
    font-weight: 500;
    border-radius: 30px;
    padding: 0.5em;
}
